@import url(https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900);

	body {
	    background-color: linen;
	    font-family: Roboto,Arial,sans-serif;
	    color: #333;
	    background-color: #DDD;
	}
	div#content{
		position: relative;
	    max-width: 1000px;
	    margin-left: auto;
	    margin-right: auto;
	}
	a{
		padding: 5px;
	}
	a.active{
		text-decoration: none;
	}
	